header {
    background: black;
    height: 40px;
}

.logo {
    width: 500px;
}

.logo img {
    width: 30%;
}

.nav-link{
    color: black;
    margin: 0 15px;
}

select {
    width: 100%;
    padding: 3px 20px;
    text-align: center;
}

footer {
    color: white;
    background: black;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    height: 40px;
}