body::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    filter: brightness(50%);
    background-image: url('../imgs/cineA.avif');
    background-size: cover;
}

.logo {
    width: 40px;
    margin-top: 30px;
    margin-left: 50px;
}

.nav-link {
    color: white;
}

.carousel{
    margin: 0 auto;
    padding-top: 80px;
    width: 550px;
}

footer {
    color: white;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}