body::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    filter: brightness(40%);
    background-image: url('../background.avif');
    background-size: cover;
}

.icon {
    width: 50px;
    filter: brightness(0) invert(1);
}

p {
    letter-spacing: 4px;
}